*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#home{
    position: fixed;
    top: 0;
    left: 0;
    font-size: larger;
}

#home a{
    text-decoration: none;
}

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#dispChoices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 80vh;
}

#controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    width: 45vw;
}

button{
    height: 5vh;
    width: 20vh;
    font-size: large;
    border: 3px solid black;
    border-radius: 3px;
    background-color: #ffffff;
}

#controls button:focus,
#controls button:hover{
    background-color: black;
    color: white;
}

img.choice{
    height: 50vh;
    width: 50vh;
}